 
/* 
Como voy a estructurar el contenido del css y en el orden en que lo voy a hacer
1. Posicionaiento
2. Modelo caja(box model)
Tipografías
4. Visual
5. Miscelaneos u Otros
*/

:root{
/* Colores */
    --primary: #4EA6E3;
    --secondary: #DA42C2;
    --soft-primary: #B4D2E7;
    --soft-secondary: #FB6F92;
    --background-light: #efeeff;
    --brackground-dark: #070617;
    --black: #0C0C11;
    --white: #F8F7FF;
    --positive: #4FD384;
    --intermediate: #D3AE4F;
    --negative: #d34f67;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'K2D', sans-serif;
    /* Second font-famili: 'Alegreya Sans', sans-serif; Solo la usaré en el bloque que me haga falta ya que la mayoritaria es la K2D */
}
body {
    background-color: var(--background-light);
}

/* HEADER */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 425px;
    text-align: center;
    /* Esto es para poner la imagen de fondo*/
    background-image: url('/assets/images/Photo-Header.png');
    background-position: center;
    background-size: cover; /*Con esto cubro todo el contenerdor */
    background-repeat: no-repeat; /* Con esto lo que hago es que cuando l aimagen sea más pequeña que ele contenedor no repetirla ya que si no lo pongo, por defecto la imagen se repite para rellenar el hueco que falta*/
    /* background: linear-gradient(138deg, #4EA6E3 , #DA42C2 ); Para gradientes*/
}
header .isotype {
    width: 180px;
    height: auto;
    margin: 40px 0px 20px 0px;
    align-self: center;
}
header .logotype{
    align-self: center;
    margin-bottom: 40px;
    width: 300px;
}
.header--title-container {
    height: 170px;
    min-width: 288px;
    max-width: 900px;
}
.header--title-container h1 {
    font-size: 35px;
    padding: 0px 40px;
}
.header--title-container .header--button {
    /* El position: absolute; me permite mover el boton por cualquier parte de la pantalla sin que tenga que estar sujeto a un contenedor. Y lo puedo mover poniendo top, bottom, left and right. Así puedo salirme del header y dar la sensación que es un botón flotante. */
    position: absolute;
    top: 385px;
    right: 33%;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--brackground-dark);
    font-size: 30px;
    padding: 10px;
    height: 70px;
    width: 137px;
    box-shadow: 0px 4px 8px rgba(239, 238, 255, 0.2);
    border: none;
    border-radius: 50px;
}

/* MAIN */

/* MAIN SECTION 1 */
main .advan-desadvan {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    min-width: 288px;
    max-width: 900px;
}
main .advan-desadvan h2 {
    text-decoration: underline;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}
main .advan-desadvan ul {
    font-family: 'Alegreya Sans, sans-serif';
    font-size: 18px;
}