 
/* 
Como voy a estructurar el contenido del css y en el orden en que lo voy a hacer
1. Posicionaiento
2. Modelo caja(box model)
Tipografías
4. Visual
5. Miscelaneos u Otros
*/

:root{
/* Colores */
    --primary: #B4D2E7;
    --secondary: #FB6F92;
    --enphsis: #3E6682;
    --background-light: #EFEEFF;
    --brackground-dark: #070617;
    --black: #0C0C11;
    --white: #F8F7FF;
    --positive: #4FD384;
    --intermediate: #D3AE4F;
    --negative: #D34F67;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62,5%;
    font-family: 'K2D', sans-serif;
    /* Second font-famili: 'Alegreya Sans', sans-serif; Solo la usaré en el bloque que me haga falta ya que la mayoritaria es la K2D */
}
body {
    background-color: #F8F7FF;
}

/* HEADER */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}
header .isotype {
    width: 100px;
    height: auto;
    margin-top: 20px;
    align-self: center;
}